<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearningJourney.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>267C4EF82EA0D20E008683E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267C4F052EA0D20F008683E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267C4F0F2EA0D20F008683E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
